/*Default settings for the entire page.*/
* {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-variant: small-caps;
    color: ivory;
    width: inherit;
        
}

body{

    position:relative;
    background-color: blanchedalmond;
    max-width: 100vw;
    max-height: 100vh;
    margin: auto;
    border: 2px solid black;
    background-image: url("../images/placeholder-4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index:-100
        
}

#hero-image{
    display: flex;
    justify-content:space-around;
    align-self: center;
    margin: 75px auto 75px;
    border: 2px solid saddlebrown;
    border-radius:50%;
    background-image: url("../images/The-Big-O.jpg");
    background-color: #cccccc;
    width: 250px;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    position: relative;
    z-index:-10;


}

header {

    display: inline;
    background-color: saddlebrown;
    color: blanchedalmond;
    margin: -2px auto;
    border-top: 5px solid sandybrown;
    border-bottom: 5px solid sandybrown;
    outline: 2px solid black;
    width: 100%;
    position: fixed;
    z-index: 10;
    
}
nav ul li{
    display: inline;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    
}

a:link{

    text-decoration: none;
    border: 2px blanchedalmond;
    

}

nav a:hover{

    color: black;
    cursor: pointer;
    font-size: 125%;
    text-decoration: underline;

}

a:active{

    color: chocolate;
    text-shadow: 1px 1px 2px blanchedalmond;

}

header h2{

    text-align: right;

}

section{

    background-color: sienna;
    color: ivory;
    justify-content:left;
    border:inherit;
    border-radius: 5px;
    
}

section h2{
    
    
}

.projects{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    
}

#app1{
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;
    
}

#app2{
    background-image: url("../images/placeholder-1.jpg");
    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;
}

#app3{
    background-image: url("../images/placeholder-2.jpg");
    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;

}

#app4{
    background-image: url("../images/placeholder-3.jpg");
    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;

}

#app5{
    background-image: url("../images/placeholder-4.jpg");
    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;

}

button, input, textarea{

    background-color: ivory;
    color: black;

}

footer{
    text-align:center;
}
/*
@media screen and (min-width: 280px) {
    *{max-width: 280;}
}

@media screen and (min-width: 1440px) {
    *{width:inherit;}
}

@media screen and (min-width: 1600px) {
    *{width:inherit;}
}

@media screen and (min-width: 1920px) {
   *{width:inherit;}
}*/